@model IEnumerable<Diploma.Models.Employee>

@{
    ViewData["Title"] = "ShowEmployee";
}

<h1 class="h3 mb-2 text-gray-800">All Buyers</h1>
<p class="mb-4">If you remove a buyer - his contract ID will be set to NULL</p>

<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-end py-3">
        <a asp-action="AddBuyer" class="btn btn-success btn-circle btn-sm">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NormalizedUserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NormalizedEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailConfirmed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PasswordHash)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SecurityStamp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LockoutEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LockoutEnabled)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccessFailedCount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NormalizedUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NormalizedEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PasswordHash)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SecurityStamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LockoutEnd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LockoutEnabled)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccessFailedCount)
                            </td>
                            <td>
                                <a asp-action="EditEmployee" asp-route-id="@item.Id" class="btn btn-info btn-circle">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a asp-action="DeleteEmployee" asp-route-id="@item.Id" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
