@model Diploma.Models.ViewModels.PdfResultViewModel
@{
    Layout = "";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test invoice #101</title>

    <style>

        .invoice-container {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

            .invoice-container table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }

                .invoice-container table td {
                    padding: 5px;
                    vertical-align: top;
                }

                .invoice-container table tr td:nth-child(2) {
                    text-align: right;
                }

                .invoice-container table tr.top table td {
                    padding-bottom: 20px;
                }

                    .invoice-container table tr.top table td.title {
                        font-size: 45px;
                        line-height: 45px;
                        color: #333;
                    }

                .invoice-container table tr.information table td {
                    padding-bottom: 40px;
                }

                .invoice-container table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-container table tr.details td {
                    padding-bottom: 20px;
                }

                .invoice-container table tr.item td {
                    border-bottom: 1px solid #eee;
                }

                .invoice-container table tr.item.last td {
                    border-bottom: none;
                }

                .invoice-container table tr.total td:nth-child(2) {
                    border-top: 2px solid #eee;
                    font-weight: bold;
                }

        @@media only print {
            .invoice-container table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-container table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    </style>
</head>

<body>
    <div class="invoice-container">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                Report
                            </td>

                            <td>
                                Created: @Model.Created<br>
                                Due: @Model.Due
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Diploma, Inc.<br>
                                Vostok 50 st.<br>
                                Minsk City, AK 24132
                            </td>

                            <td>
                                Dmitriy Senko<br>
                                dmitriy.senko.job@gmail.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>



            <tr class="heading">
                <td>
                    Main
                </td>

                <td>
                    Cost
                </td>
            </tr>

            <tr class="item">
                <td>
                    Income
                </td>

                <td>
                    @Model.Income
                </td>
            </tr>
            <tr class="item">
                <td>
                    Expenses
                </td>

                <td>
                    @Model.Expenses
                </td>
            </tr>
            <tr class="item">
                <td>
                    Gross profit (loss)
                </td>

                <td>
                    @Model.GrossProfitOrLoss
                </td>
            </tr>
            <tr class="item">
                <td>
                    Taxes
                </td>

                <td>
                    @Model.Taxes
                </td>
            </tr>
            <tr class="item">
                <td>
                    Net profit
                </td>

                <td>
                    @Model.NetProfit
                </td>
            </tr>

            <tr >
                <td></td>
                <td>
                    Total: 100500.00
                </td>
            </tr>

        </table>
        <br />
        <table cellpadding="0" cellspacing="0">

            <tr class="heading">
                <td>
                    Taxes
                </td>

                <td>
                    Cost
                </td>
            </tr>

            <tr class="item">
                <td>
                    PayrollTaxes
                </td>

                <td>
                    @Model.PayrollTax
                </td>
            </tr>
            <tr class="item">
                <td>
                    ContributionsToFunds
                </td>

                <td>
                    @Model.ContributionsToFunds
                </td>
            </tr>
            <tr class="item">
                <td>
                    IncomeTaxes
                </td>

                <td>
                    @Model.IncomeTax
                </td>
            </tr>

            <tr>
                <td></td>

                <td>
                    Total: 100500.00
                </td>
            </tr>

        </table>
        <br />
        <table cellpadding="0" cellspacing="0">

            <tr class="heading">
                <td>
                    Expenses
                </td>

                <td>
                    Cost
                </td>
            </tr>

            <tr class="item">
                <td>
                    Salary
                </td>

                <td>
                    @Model.Salary
                </td>
            </tr>
            <tr class="item">
                <td>
                    PaymentOfPremises
                </td>

                <td>
                    @Model.PaymentOfPremises
                </td>
            </tr>

            <tr >
                <td></td>

                <td>
                    Total: 100500.00
                </td>
            </tr>

        </table>
        <br />
        <table cellpadding="0" cellspacing="0">

            <tbody>
                <tr class="heading">
                    <td>
                        Income
                    </td>

                    <td>
                        Cost
                    </td>
                </tr>

                <tr class="item">
                    <td>
                        RentalService
                    </td>

                    <td>
                        @Model.RentalService
                    </td>
                </tr>
                <tr class="item">
                    <td>
                        PurchaseService
                    </td>

                    <td>
                        @Model.PurchaseService
                    </td>
                </tr>
                <tr >
                    <td></td>

                    <td>
                        Total: 100500.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
